@model Japuacu.Blog.Aplicacao.ViewModels.PostVM
@{
    ViewData["Title"] = "Post";
}



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Sidebar Widgets Column -->
             <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4">@Model.TituloPost</h1>

                <!-- Author -->
                <p class="lead">
                    por
                    <a href="#">@Model.Autor.Nome</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Postado em 01/01/2019 as 12:00 </p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="~/Imagens/port03.jpg" alt="">

                <hr>
                <p class="lead">@Model.ResumoPost</p>

                @foreach (var item in Model.Paragrafo)
                {
                    <p>@item.Redacao</p>


                }
                <!-- Post Content -->


                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Comentário:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Comentário</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>

                <br />

                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Ciclano</h5>
                        Isso é o Rugby.
                    </div>
                </div>


                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Beltrano</h5>
                        Parabéns pela iniciativa.
                    </div>
                </div>

                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Diretoria Japuaçu</h5>
                        Obrigado.
                    </div>
                </div>

            </div>



        </div>
        <!-- /.row -->

    </div>



